# **Importando bibliotecas**

In [1]:
import pandas as pd
import numpy as np
import requests

# **Importando os dados API e normalizando**

In [2]:
dados_api = requests.get('https://raw.githubusercontent.com/ingridcristh/challenge2-data-science/refs/heads/main/TelecomX_Data.json')
resultado_dados_api = dados_api.json()
df = pd.json_normalize(resultado_dados_api)
# df.head()

# Importando dados arquivo - para fins educacionais, não será utilizado no projeto

In [3]:
dados = pd.read_json('dataset/TelecomX_Data.json')
# dados.head()

## Normalizando os dados arquivo

In [4]:
colunas_aninhadas = ['customer', 'phone', 'internet', 'account']
dados_normalizados = dados[['customerID', 'Churn']].copy()

for col in colunas_aninhadas:
    norm_data = pd.json_normalize(dados[col])
    norm_data = norm_data.add_prefix(f'{col}_')
    dados_normalizados = pd.concat([dados_normalizados, norm_data], axis=1)

# dados_normalizados.head()

# **Conhecendo o Dataset**

In [5]:
df

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

### **Verificando inconsistências nas series julgadas mais importantes**

1. CHURN

In [7]:
pd.unique(df['Churn']) #objeto nulo
df.query('Churn == ""') #precisa tratar

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.2
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.9
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

2. CUSTOMER.SENIORCITIZEN

In [8]:
pd.unique(df['customer.SeniorCitizen']) #booleano, 0 == não e 1 == sim, alterar

array([0, 1])

3. CUSTOMER.TENURE

In [9]:
pd.unique(df['customer.tenure'])

array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
       55, 26, 69, 11, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14,
       35, 64, 39, 40,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
       22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 51, 31, 36,
       17, 18, 38, 42,  0])

4. PHONE.PHONESERVICE

In [10]:
pd.unique(df['phone.PhoneService'])

array(['Yes', 'No'], dtype=object)

5. INTERNET.INTERNETSERVICE

In [11]:
pd.unique(df['internet.InternetService'])

array(['DSL', 'Fiber optic', 'No'], dtype=object)

6. ACCOUNT.CONTRACT

In [12]:
pd.unique(df['account.Contract'])

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

7. ACCOUNT.CHARGES.MONTHLY

In [13]:
pd.unique(df['account.Charges.Monthly'])

array([65.6 , 59.9 , 73.9 , ..., 91.75, 68.8 , 67.85], shape=(1585,))

8. ACCOUNT.CHARGES.TOTAL

In [14]:
pd.unique(df['account.Charges.Total'])

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      shape=(6531,), dtype=object)

9.ACCOUNT.PAYMENTMETHOD

In [15]:
pd.unique(df['account.PaymentMethod'])

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

### **Tratando inconsistências:** 
<br>Churn tratar nulos -> menos de 5% dos dados, por este motivo decidi remover
<br>customer.SeniorCitizen transformar em sim e não

In [16]:
df['customer.SeniorCitizen'] = df['customer.SeniorCitizen'].astype(str)
df['customer.SeniorCitizen'] = df['customer.SeniorCitizen'].map({'0': 'No', '1': 'Yes'})
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,Yes,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,Yes,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [17]:
remover = df.query('Churn == ""').index
len(remover) #conferindo a quantidade, 224 de 7267

224

In [18]:
df.drop(remover, axis=0, inplace=True)

In [19]:
pd.unique(df['Churn'])

array(['No', 'Yes'], dtype=object)

# **Separando as series julgadas mais importantes**

In [20]:
#separando colunas importantes
series_importantes = ['Churn', 'customer.gender', 'customer.SeniorCitizen', 'customer.Partner','customer.Dependents', 'customer.tenure', 
                      'phone.PhoneService', 'internet.InternetService', 'account.Contract', 'account.PaymentMethod', 
                      'account.Charges.Monthly', 'account.Charges.Total']
df = df[series_importantes]

## **Normalizando dados e transformação de tipos**

In [21]:
col_string = ['Churn', 'customer.gender', 'customer.SeniorCitizen', 'customer.Partner','customer.Dependents', 'phone.PhoneService', 'internet.InternetService',
              'account.Contract', 'account.PaymentMethod']

In [22]:
df = df.astype({col: 'string' for col in col_string})

In [23]:
df['account.Charges.Total'] = df['account.Charges.Total'].replace(' ', '0')
df['account.Charges.Total'] = df['account.Charges.Total'].astype(np.float64)

In [24]:
df.query('`account.Charges.Total` == 0') # gastos total = 0 pois cliente ainda não pagou nenhum mês

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,internet.InternetService,account.Contract,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
975,No,Female,No,Yes,Yes,0,No,DSL,Two year,Credit card (automatic),56.05,0.0
1775,No,Female,No,Yes,Yes,0,Yes,No,Two year,Mailed check,20.00,0.0
1955,No,Male,No,No,Yes,0,Yes,DSL,Two year,Bank transfer (automatic),61.90,0.0
2075,No,Male,No,Yes,Yes,0,Yes,No,One year,Mailed check,19.70,0.0
2232,No,Male,No,No,Yes,0,Yes,No,Two year,Mailed check,20.25,0.0
2308,No,Male,No,Yes,Yes,0,Yes,No,Two year,Mailed check,25.35,0.0
2930,No,Female,No,Yes,Yes,0,Yes,DSL,Two year,Mailed check,73.35,0.0
3134,No,Male,No,Yes,Yes,0,Yes,No,Two year,Mailed check,25.75,0.0
3203,No,Female,No,Yes,Yes,0,No,DSL,Two year,Bank transfer (automatic),52.55,0.0
4169,No,Female,No,Yes,Yes,0,Yes,DSL,Two year,Mailed check,80.85,0.0
5599,No,Male,No,Yes,Yes,0,Yes,No,Two year,Mailed check,19.85,0.0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7043 entries, 0 to 7266
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Churn                     7043 non-null   string
 1   customer.gender           7043 non-null   string
 2   customer.SeniorCitizen    7043 non-null   string
 3   customer.Partner          7043 non-null   string
 4   customer.Dependents       7043 non-null   string
 5   customer.tenure           7043 non-null   int64
 6   phone.PhoneService        7043 non-null   string
 7   internet.InternetService  7043 non-null   string
 8   account.Contract          7043 non-null   string
 9   account.PaymentMethod     7043 non-null   string
 10  account.Charges.Monthly   7043 non-null   float64
 11  account.Charges.Total     7043 non-null   float64
dtypes: float64(2), int64(1), string(9)
memory usage: 715.3 KB

# **Criando contas_diarias**

In [26]:
df['account.Charges.Daily'] = (df['account.Charges.Monthly']/30).round(2)
df.head()

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,internet.InternetService,account.Contract,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,account.Charges.Daily
0,No,Female,No,Yes,Yes,9,Yes,DSL,One year,Mailed check,65.6,593.30,2.19
1,No,Male,No,No,No,9,Yes,DSL,Month-to-month,Mailed check,59.9,542.40,2.00
2,Yes,Male,No,No,No,4,Yes,Fiber optic,Month-to-month,Electronic check,73.9,280.85,2.46
3,Yes,Male,Yes,Yes,No,13,Yes,Fiber optic,Month-to-month,Electronic check,98.0,1237.85,3.27
4,Yes,Female,Yes,Yes,No,3,Yes,Fiber optic,Month-to-month,Mailed check,83.9,267.40,2.80

# **Análise descritiva**

In [27]:
df.describe()

,customer.tenure,account.Charges.Monthly,account.Charges.Total,account.Charges.Daily
count,7043.000000,7043.000000,7043.000000,7043.000000
mean,32.371149,64.761692,2279.734304,2.158675
std,24.559481,30.090047,2266.794470,1.003088
min,0.000000,18.250000,0.000000,0.610000
25%,9.000000,35.500000,398.550000,1.180000
50%,29.000000,70.350000,1394.550000,2.340000
75%,55.000000,89.850000,3786.600000,2.990000
max,72.000000,118.750000,8684.800000,3.960000

# **DF FINAL**

In [28]:
df.head()

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,internet.InternetService,account.Contract,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,account.Charges.Daily
0,No,Female,No,Yes,Yes,9,Yes,DSL,One year,Mailed check,65.6,593.30,2.19
1,No,Male,No,No,No,9,Yes,DSL,Month-to-month,Mailed check,59.9,542.40,2.00
2,Yes,Male,No,No,No,4,Yes,Fiber optic,Month-to-month,Electronic check,73.9,280.85,2.46
3,Yes,Male,Yes,Yes,No,13,Yes,Fiber optic,Month-to-month,Electronic check,98.0,1237.85,3.27
4,Yes,Female,Yes,Yes,No,3,Yes,Fiber optic,Month-to-month,Mailed check,83.9,267.40,2.80

In [29]:
df.to_csv('dataset/TelecomX_Data_Normalized.csv', index=False)